.home .content { 
  padding: 0;
  background-image: url('../../assets/images/gh.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1017px;
  height: 100vh;
  color: #000;
  margin-left: 55px;
  opacity: 0.9;
}
.home .container {
  background-color: #D7D7D6;
}
.msg {
  text-align: center;
  width: 785px;
  margin-left: auto;
  margin-right: auto;
} 
.msg h2 {
  padding-top: 54px;
  margin-bottom: 50px;
}
.msg p {
  line-height: 2;
  font-size: 19px;
}